<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="DB_CONNECTION_STRING" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\awais\Source\Repos\AhmedAsif-exe\Auto-Club\bin\Debug\net6.0-windows\AutoClub.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>