<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name ="DB_CONNECTION_STRING" connectionString="Data Source=C:\USERS\AWAIS\SOURCE\REPOS\AHMEDASIF-EXE\AUTO-CLUB\AUTOCLUB.MDF" providerName="System.Data.SqlClient"/>-->
		<add name ="DB_CONNECTION_STRING" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AutoClub;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>